apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${cluster_ca_data}
    server: ${server}
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    namespace: default
    user: ${service_account}
  name: ${cluster_name}
current-context: ${context}
kind: Config
preferences: {}
users:
- name: ${service_account}
  user:
    token: ${token}